@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #b6ccda;
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  margin: 2rem;
  padding: 1rem 2rem;
}

/*Header*/
/* .header {
  padding: 1rem 2rem;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-links ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  justify-content: center;
}

.header-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: opacity 0.3s ease;
}
.header-links a:hover {
  opacity: 0.7;
}
.header-links li:nth-child(4) a {
  background-color: white;
  color: #b6ccda;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-weight: 500;
}

.search-and-shopping {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 1024px) {
  .header-links ul {
    gap: 1.5rem;
  }

  .header-links a {
    font-size: 16px;
  }
  .header-logo {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .header-links {
    display: none;
  }
} */

/*Headline*/
/* .headline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.headline-container h1 {
  font-size: 55px;
  font-weight: bold;
  color: white;
  line-height: 1.2;
  margin: 0 0 0.5rem 0;
}

.headline-container h1 .bold {
  font-weight: bold;
}

.headline-container h1 {
  font-weight: lighter;
}
@media (max-width: 768px) {
  .headline-container {
    text-align: center;
    align-items: center;
  }

  .headline-container h1 {
    font-size: 2.5rem;
  }
} */

/*BigImg*/
/* .big-img-container {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  cursor: pointer;
}

.big-img-container img {
  height: auto;
  object-fit: contain;
  justify-content: center;
}

.dots {
  position: absolute;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dot-navy,
.dot-mint,
.dot-ocean {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid white;
  width: 24px;
  height: 24px;
}

.dot-navy {
  background-color: #404354;
}

.dot-mint {
  background-color: #58d7c4;
}

.dot-ocean {
  background-color: #c8dce5;
}

.dot-navy:hover,
.dot-mint:hover,
.dot-ocean:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .big-img-container {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .big-img-container img {
    max-width: 400px;
  }

  .dots {
    right: 1rem;
  }
} */

/*Button*/
/* .container {
  display: flex;
  justify-content: left;
  padding: 0 6rem;
  margin-left: 1rem;
}

button {
  width: 250px;
  height: 70px;
  background-color: transparent;
  border: 4px white solid;
  border-radius: 40px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .container {
    justify-content: center;
    padding: 0 2rem;
    margin-left: 0;
  }
} */

/*SmallImg*/
/* .small-imgs-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 2rem;
}
.small-imgs-container img {
  margin-top: -3rem;
}

.navy-background,
.mint-background,
.ocean-background {
  width: 131px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navy-background {
  background-color: #4345589b;
}
.mint-background {
  background-color: #58d7c4a0;
}
.ocean-background {
  background-color: #c8dce5aa;
}

@media (max-width: 768px) {
  .small-imgs-container {
    gap: 2rem;
    padding: 2.5rem;
    align-items: center;
  }
  .navy-background,
  .mint-background,
  .ocean-background {
    width: 80px;
    height: 80px;
  }
}

.arrow {
  color: white;
  position: absolute;
  left: 0;
  cursor: pointer;
  font-size: 24px;
  margin-left: 8rem;
  display: flex;
  gap: 10px;

  p {
    font-size: 20px;
    margin-top: -5px;
  }
} */
